$mainblack: #222223;
$mainwhite: #ffffff;
$maingrey: #454547;

@mixin mainfont 
{font-family: 'Open Sans', sans-serif; }

// HEADER SECTION

body {
    background-color: $mainwhite;
    @include mainfont();
    overflow-x: hidden;
}

a {
color: $mainwhite;
text-decoration: none;
&.navbar {
    font-weight: bold;
    margin: 0 10px -4px 10px;
}
}

p {

    &.tinytext {
    color: $mainwhite;
    padding: 4px 0 0 130px;
    font-size: 14px;
    }
    &.linktext {
    color: $mainwhite;
    font-weight: bold;
    font-size: 18px;
    }
    }

// -----------------------------     HEADER

.head {
display: flex;
justify-content: space-around;
}

.logo {
display: flex;
justify-content: left;
}

.warrant {
height: 80%;
margin-top: 1em;
}

.uppercontact{
margin: 50px 10px;
}

.righthead {
display: flex;
width: 30%;
}

.mainnav {
display: flex;
justify-content: center;
background-color: $mainblack;
padding: 20px;
width: 100%;
}

// -----------------------------     FOOTER

.footban {
display: block;
width: 99%;
z-index: 20;
position: relative;
top: 7rem;
}


.foot {
background-color: $maingrey;
color: $mainwhite;
height: 14rem;
}

.pagebottom {
margin-top: -17px;
background-color: $mainblack;
color: $mainwhite;
height: 2rem;
}

.links {
display: flex;
padding: 4px 0 0 130px;
}

.footnav {
display: flex;
flex-direction: column;
}

.navsect, .legsect, .consect {
margin: 0 60px;
}

.logowhite {
display: flex;
margin: -10em 0 0 39rem;
height: 90%;
}

.icon {
color: $mainblack;
font-size: 2rem;
margin: 0 0 0 5px;
}

.mobicons {
display: flex;
margin-left: 3rem;
}

.botimg {
margin-right: 5px;
}


@media only screen and (max-width: 1800px) {
    .footban {
        top: 6rem;
        }
}

@media only screen and (max-width: 1600px) {
    .footban {
        top: 5rem;
        }
}

@media only screen and (max-width: 1366px) {
        .mainnav {
            width: 1328px;
            }

        .mobicons {
        display: none;
        }
}

@media only screen and (max-width: 1024px) {
    .footban {
        top: 3rem;
        }

        .mainnav {
            width: 96.2vw;
            }

    .links {
    padding: 1rem;
    }

    .foot {
    height: 16rem;
    width: 100vw;
    }

    .pagebottom {
    width: 100vw;
    }
}

@media only screen and (max-width: 768px) {
    p {
        text-align: center;
        }
    
        a {
        text-align: center;
        }

    .righthead {
    margin-left: 12rem;
    width: 40%;
    }

    .mainnav {
    width: 94.9vw;
    }
 
    .footban {
        top: 2rem;
        }
    .foot {
        height: 36vh;
        width: 100vw;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .moblinks {
    display: flex;
    }

    .footnav {
    margin-right: 15px;
    }   

    .links {
    padding: 0;
    }

    .mobicons {
    display: flex;
    margin: -2rem 0 0 -12rem;
    }

    .pagebottom {
        width: 100vw;
        }
    
}

@media only screen and (max-width: 540px) {
   
p {
&.footnav {
margin: 0 25px;
}
&.tinytext {
padding: 10px 0 0 0;
text-align: center;
}
}    


.footban {
display: none;
}
    

.logo {
    height: 120px;
    width: 127px;
    padding-top: 23px
    }
    
.warrant {
    height: 101px;
    width: 127px;
    margin-top: 62px;
    }
    
.uppercontact{
    font-size: 14px;
    width: 100vw;
    margin-bottom: 2px;
    }
    

.foot {
height: 520px;
}

.pagebottom {
height: 43px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 10px;
    margin-right: 20px;
    padding: 0;
}

.righthead {
margin: -20px 0 0 -50px;
}

.mainnav {
display: none;
}

.moblinks {
display:flex; 
}

.footnav {
margin: 0 3px;
text-align: center;
}

.linktext {
    margin-left: 85px;
}

.botimg, .icon {
display: flex;
justify-content: center;
width: 70%;
margin: 120px 0 0 0;
padding: 0 5px;
}

}

@media only screen and (max-width: 360px) {

.foot {
height: 75vh;
}
    
.navsect {
margin-left: 10px;
}

.uppercontact {
font-size: 11px;
}

.logo {
margin-left: -30px;
}

.righthead {
margin-right: 25px;
}

.pagebottom {
height: 48px;
}

.logowhite {
margin: -3rem 0 0 13rem;
}

}